/* 
  Non-Mobile about page. All dynamic components are defined inthe About-Page.jsx:
    - Text size
    - Layout
    - Shifting panes
*/
.self-image {
  border: 2px solid black;
  width: 20vw;
  height: auto;
  margin-right: auto;
  margin-left: auto;
  -ms-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  transform: rotate(90deg);
  border-radius: 200px;
  -moz-box-shadow:    4px 3px 10px 1px #ccc;
  -webkit-box-shadow: 4px 3px 10px 1px #ccc;
  box-shadow:         4px 5px 10px 1px gray;
}

/* Using flexbox for easy centering */
.about-head {
  margin-top: 5vh;
  width: 78vw;
  margin-left: 22vw;
  margin-right: auto;
  display: flex;
  flex-direction: column;
}

.about-text {
  margin-right: auto;
  margin-left: auto;
}

#about-hello {
  font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
  margin-top: 0;
  margin-bottom: 0;
}

#about-intro {
  font-family: Garamond,Baskerville,Baskerville Old Face,Hoefler Text,Times New Roman,serif;
  font-weight: 800;
  font-size: 2rem;
  margin-top: 0;
  margin-bottom: 0;
}

#about-background {
  font-family: Garamond,Baskerville,Baskerville Old Face,Hoefler Text,Times New Roman,serif;
  font-weight: 600;
  font-size: 1.4rem;
}

#about-invitation {
  font-family: Garamond,Baskerville,Baskerville Old Face,Hoefler Text,Times New Roman,serif;
  font-weight: 600;
  font-size: 1.2rem;
}


@media only screen and (max-width: 1366px) {
  /* Redundant When using Flexbox */
}

@media only screen and (max-width: 1280px) {
  /* Redundant when using Flexbox */
}

/* Anything that would typically be an iPad or phone gets these styles - No fancy transitions here */
@media only screen and (max-width: 1100px){
  .self-image {
    margin-top: 15px;
    width: 200px;
    }

    .about-head { /* Getting rid of our cool centering flexbox*/
      display: inline;
    }

    .about-text {
      float: center;
      margin-right: 0px;
    }

    #about-hello {
      font-size: 2.7rem;
      margin: 10px;
    }

    #about-intro {
      font-size: 2rem;
      margin: 10px;
    }

    #about-background {
      margin:10px;
      font-size: 1.2rem;

    }

    #about-invitation {
      margin: 10px;
      font-size: 1.2rem;
    }

}
