button:focus {
    outline: none;
}

html, body, #root {
    margin: 0;
    padding: 0;
    border: 0;
    height: 100%;
    width: 100%;
}

.page-left {
    display: inline-block;
    width: auto;
}

.page-right {
    display: inline-block;
    width: 100%;
}

.page-container {
    display: flex;
    height: 100%;
}