/* 
===========
  Globals
===========
*/

* {
    font-family: sans-serif;
}

html, body, #root {
    padding: 0;
    margin: 0;
    height: 100%;
    overflow: hidden;
}

button:focus {
    outline: none;
}

/* 
===========
 Main Page
===========
*/

.main-flex-panel {
    display: flex;
    height: 100%;
}

.main-page {
    flex: 1;
    height: 100%;
    margin: 20px 30px 0 0;
    width: auto;
    transition: 500ms ease-out;

    border: 1px solid blue;
}

.navigation-bar-body {
    width: 350px;
    height: 100%;
    transition: 500ms ease-out;
    
    border: 1px solid green;
}

/* 
===========
  Header
===========
*/

.main-header {
    border-top: 3px solid black;
    border-bottom: 3px solid black;
    text-align: right;
}

.main-header h2 {
    font-size: 24pt;
    padding-right: 30px;
}

/* 
===========
  Nav Bar
===========
*/

.navigation-item {
    margin: 20px 0;
    border: 1px solid blue;
}

.navigation-item:hover {
    cursor: pointer;
}

/* 
==========
   Pane
==========
*/

.main-pane {
    height: 100%;
    
    border: 1px solid red;
}

.pane-content {
    margin: 0 auto;
    width: 500px;
    height: 100%;
    text-align: center;

    border: 1px solid purple;
}

/* 
==========
 Pane Item
==========
*/
.panel-item {
    border-radius: 5px;
    background-color: #BBB;
    margin: 15px 0;
}

.contact-panel {
    border: 10px solid yellow;
    display: flex;
}

.contact-panel img {
    width: 90px;
    margin: auto 10px;
    border-right: 1px solid green;
}