/* 
===========
  Globals
===========
*/

* {
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    --main-blue: rgb(2, 54, 112);
    --seconary-blue: #032c59;
    --light-card-background: #f5f5f5;
}

html, body, #root {
    padding: 0;
    margin: 0;
    height: 100%;
    overflow: hidden;
}

button:focus {
    outline: none;
}

.shadowed{
    -webkit-box-shadow: 4px 5px 10px 1px gray;
    -moz-box-shadow:    4px 5px 10px 1px gray;
    box-shadow:         4px 5px 10px 1px gray;
}

/* 
===========
 Main Page
===========
*/

.main-flex-panel {
    display: flex;
    height: 100%;
}

.main-page {
    flex: 1;
    height: 100%;
    margin: 20px 30px 0 0;
    width: auto;
    transition: 250ms ease;
}

.navigation-bar-body {
    background-color: var(--main-blue);
    width: 350px;
    height: 100%;
    transition: 250ms ease;
    color: white;
}

/* 
===========
  Header
===========
*/

.main-header {
    border-top: 4px solid var(--main-blue);
    border-bottom: 4px solid var(--main-blue);
    text-align: right;
}

.main-header h2 {
    font-size: 24pt;
    padding-right: 30px;
}

/* 
===========
  Nav Bar
===========
*/

.navigation-header-container {
    display: flex;
    justify-content: space-between;
}

.navigation-header {
    margin: 10px;
}

.navigation-item {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
    background-color: var(--seconary-blue);
    padding: 5px 10px;
}

.navigation-item div {
    align-self: center;
    text-justify: distribute-all-lines;
    font-weight: 600;
}

.navigation-bar-body h3 {
    font-size: 2em;
    margin: 0;
}

.navigation-bar-body a {
    color: white;
    font-weight: 600
}

.navigation-item img {
    height: 35px;
    width: auto;
}

.navigation-item:hover {
    cursor: pointer;
}

.content-hidden {
    display: none;
}

.navigation-button-container {
    /* Fixed height allows all icons to stay in same position when hiding navbar */
    height: 150px;
}

.navigation-toggle-button {

}

/* 
==========
   Pane
==========
*/

.main-pane {
    height: 100%;
    margin-top: 30px;
}

.pane-content {
    margin: 0 auto;
    width: 500px;
    height: 100%;
    text-align: center;
}

.pane-image {
    border-radius: 300px;
    width: 300px;
    border: 2px solid black;
}

.pane-header {
    font-size: 3em;
}

.pane-secondary {
    font-size: 1.7em;
}

/* 
==========
 Pane Item
==========
*/
.panel-item {
    border-radius: 5px;
    margin: 15px 0;
    text-decoration: none;
    color: black;
    transition: 400ms;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-color: var(--light-card-background);

    border: 1px solid green;
}

.panel-item * { border: 1px solid green;}

.panel-item:hover {
    background-color: var(--seconary-blue);
    color: white;
}

.panel-item img {
    align-self: flex-start;
    width: 80px;
    height: 80px;
    margin: auto 10px;
    padding-right: 20px;
    border-right: 2px solid var(--main-blue)
}

.information-panel {

}

.contact-panel {
    height: 100px;
}