.main-pages-enter {
  opacity: 0.01;
}

.main-pages-enter.main-pages-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.main-pages-leave {
  opacity: 0.01;
  display: none;
}

.main-pages-leave.main-pages-leave-action {
  display: none;
}
