
.employment-container {
  display: flex;
  flex-direction: column;
  height: auto;
  flex-wrap: wrap;
}

.employment-item-container {
  width: 25vw;
  margin: 2.5vh auto 1vh auto;
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 1fr;
}

.employment-header {
  font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
  margin: 0;
}

.employment-h1 {
  font-size: 2em;
  padding: none;
  margin: none;
}

.employment-h2 {
  font-size: 1em;
  padding: none;
  margin: none;
}

.employment-time {
  font-size: 1em;
  font-style: italic;
  margin-top: 0;
  font-family: Garamond,Baskerville,Baskerville Old Face,Hoefler Text,Times New Roman,serif;
  font-weight: 400;
}

.employment-hr {
  width: 25vw;
  color: #023670;
  height: 2px;
  background-color: #023670;
}

.employer-logo {
  width: 100px;
  margin-right: 15px;
  border-radius: 5px;
}

.employment-description {
  font-family: Garamond,Baskerville,Baskerville Old Face,Hoefler Text,Times New Roman,serif;
  font-size: 1rem;
}

@media only screen and (max-width: 1100px){
  .employment-item-container {
    width: 90vw;
    margin-top: 2.5em;
    margin-bottom: 1vh;
    margin-right: 0;
    grid-template-columns: 1fr 4fr;
  }

  .employment-h1 {
    font-size: 1.5em;
  }

  .employment-h2 {
    font-size: 1em;
  }

  #employment-time {
    font-size: 0.75em;
  }

  .mobile-bottom-content {
    grid-column: 1/3;
  }

  .employment-hr {
    width: 100%;
  }
}

@media only screen and (max-width: 768px){
  .employment-item-container {
    margin: 10px auto;
    grid-template-columns: 1fr;
  }

  .employer-logo {
    margin: 0px auto;
  }

  .employment-header, .employment-h2, .employment-time, .employment-description {
    margin: 0px auto;
    text-align: center;
  }
}
