.education-item-button {
  text-decoration: none;
  background-color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: 1s;
}

.education-item-button:focus{
  outline: none;
  background-color: #032C59;
  color: white;
  transition: none;
}


.education-item-button:hover {
  background-color: #023670;
  color: white;
}

.education-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  grid-auto-flow: row;
  width: 50vw;
  margin-top: 2.5vh;
  margin-bottom: 1vh;
  margin-left: 25vw;
}

.education-item-grid {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: auto;
  grid-gap: 10px;
  margin: 10px;
}

.employment-logo {
  width: 100px;
}

.education-item-title {
  padding: 0;
}

.education-note-text {
  font-style: italic;
  padding: 0;
}
