.info-slider-exit-button {
  position: absolute;
  top: 0;
  right: 0;
  background-color: transparent;
  border: 0;
}

.info-slider-exit-button:focus {
  outline: none;
}

.info-slider-exit-button:hover {
  cursor: pointer;
}

.info-slider-exit-button-image {
  width: 30px;
}

.info-slider-text-body {
  margin-left: 20px;
}

.info-slider-text-body h1 {
  font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
  font-size: 2.5rem;
}

.info-slider-text-dates {
  font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
  font-style: italic;
}

.info-slider-text-body p {
  padding-left: 25px;
  font-family: Garamond,Baskerville,Baskerville Old Face,Hoefler Text,Times New Roman,serif;

}

.info-slider-text-body ul {
  padding-left: 75px;
  font-family: Garamond,Baskerville,Baskerville Old Face,Hoefler Text,Times New Roman,serif;

}

.info-slider-hr {
  width: 90%;
  height: 2px;
  background-color: white;
  border: none;
}
