.work-grid {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 1vh;
}

.work-item-button {
  width: 550px;
  margin: 5px auto 5px auto;
  text-decoration: none;
  background-color: #f5f5f5;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: 1s;
}

.work-item-button:hover {
  outline: none;
  background-color: #032C59;
  color: white;
}

.work-item-button:focus {
  outline: none;
  background-color: #032C59;
  color: white;
  transition: none;
}

.work-logo {
  width: 100px;
}

.work-item-hr {
  width: 90%;
  height: 2px;
  color: #032C59;
  background-color: #032C59;
  border: none;
}

@media only screen and (max-width: 1366px){
  .work-grid {
    margin-top: 7vh;
  }
}
