.work-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  grid-auto-flow: row;
  grid-gap: 2rem;
  width: 50vw;
  margin-top: 15vh;
  margin-bottom: 1vh;
}

.work-logo {
  width: 100px;
}

.work-item-hr {
  width: 90%;
  height: 2px;
  color: #032C59;
  background-color: #032C59;
  border: none;
}

@media only screen and (max-width: 1366px){
  .work-grid {
    margin-top: 7vh;
  }
}
