/* 
===========
  Globals
===========
*/

* {
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    --main-blue: rgb(2, 54, 112);
    --seconary-blue: #032c59;
    --light-card-background: #f5f5f5;
    --hover-nav-blue: #2781e5;
    --nav-bar-width: 350px;
}

html, body, #root {
    padding: 0;
    margin: 0;
    height: 100%;
    overflow: hidden;
}

button:focus {
    outline: none;
}

.shadowed{
    -webkit-box-shadow: 4px 5px 10px 1px gray;
    -moz-box-shadow:    4px 5px 10px 1px gray;
    box-shadow:         4px 5px 10px 1px gray;
}

.flipped-img {
    transform: rotate(180deg);
}

/* 
===========
 Main Page
===========
*/

.main-flex-panel {
    display: flex;
    height: 100%;
}

.main-page {
    flex: 1;
    height: 100%;
    margin: 20px 30px 0 0;
    width: auto;
    transition: 250ms ease;
}

.navigation-bar-body {
    background-color: var(--main-blue);
    width: var(--nav-bar-width);
    height: 100%;
    transition: 200ms ease;
    color: white;
}

/* 
===========
  Header
===========
*/

.main-header {
    border-top: 4px solid var(--main-blue);
    border-bottom: 4px solid var(--main-blue);
    text-align: right;
}

.main-header h2 {
    font-size: 24pt;
    padding-right: 30px;
}

/* 
===========
  Nav Bar
===========
*/

.navigation-header-container {
    display: flex;
    justify-content: space-between;
}

.navigation-header {
    margin: 10px;
}

.navigation-item {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
    background-color: var(--seconary-blue);
    padding: 5px 10px;
    transition: 300ms;
}

.navigation-item div {
    align-self: center;
    text-justify: distribute-all-lines;
    font-weight: 600;
}

.navigation-bar-body h3 {
    font-size: 2em;
    margin: 0;
}

.navigation-bar-body a {
    color: white;
    font-weight: 600
}

.navigation-item img {
    height: 35px;
    width: auto;
}

.navigation-item:hover {
    cursor: pointer;
    background-color: var(--hover-nav-blue);
}

.content-hidden {
    display: none;
}

.navigation-button-container {
    /* Fixed height allows all icons to stay in same position when hiding navbar */
    height: 150px;
}

.navigation-toggle-button {
    margin-top: 10px;
    margin-left: 5px;
    border: none;
    outline: none;
    background-color: transparent;
}

.navigation-toggle-button:hover {
    cursor: pointer;
}

.navigation-toggle-button img {
    width: 25px;
    height: auto;
}

.navigation-socials {
    text-align: center;
    width: var(--nav-bar-width);
    position: absolute;
    bottom: 10px;
}

.navigation-socials a {
    margin: 4px;
    opacity: 0.5;
    transition: 250ms;
}

.navigation-socials a:hover {
    opacity: 1;
}

.navigation-socials img {
    width: 70px;
}

/* 
==========
   Pane
==========
*/

.main-pane {
    height: 85%;
    overflow-x: auto;
    margin-top: 30px;
}

.pane-content {
    margin: 0 auto;
    width: 600px;
    height: auto;
    text-align: center;
}

.pane-image {
    border-radius: 300px;
    width: 300px;
    border: 2px solid black;
}

.pane-header {
    font-size: 3em;
}

.pane-secondary {
    font-size: 1.7em;
}

/* 
==========
 Pane Item
==========
*/
.panel-item {
    border-radius: 5px;
    margin: 15px 0;
    text-decoration: none;
    color: black;
    transition: 400ms;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-color: var(--light-card-background);
}

.panel-item hr {
    height: 2px;
    border: none;
    background-color: var(--main-blue);
}

.panel-item-content {
    width: 75%;
}

/* .panel-item * { border: 1px solid green;} */

.panel-item:hover {
    background-color: var(--seconary-blue);
    color: white;
}

.panel-item img {
    width: 80px;
    height: 80px;
    margin: auto 10px;
    padding-right: 20px;
    border-right: 2px solid var(--main-blue)
}

.information-panel {
    flex-direction: column;
}

.info-panel-header {
    display: flex;
}

.information-panel img {
    border: none;
}

.contact-panel {
    height: 100px;
}

@media only screen and (max-width: 701px) {
    /*
    =============
     Nav Buttons
    =============
     */
    .mobile-nav-btns {
        position: absolute;
        bottom: 0px;
        right: 0px;
        display: inline-block;
        height: 100px;
        width: 100px;
    }

    .mobile-btn {
        display: inline-block;
        height: 40px;
        width: 40px;
        background: var(--main-blue);
        border-radius: 100px;
    }

    .mobile-btn button {
        background: none;
        outline: none;
        border: none;
        background-color: none;
    }

    .mobile-btn button:hover {
        cursor: pointer;
    }

    .mobile-btn img {
        margin-top: 10px;
        height: 20px;
        width: auto
    }

    .mobile-btn-forward {
        position: absolute;
        right: 20px;
    }

    .mobile-btn-back {
        position: absolute;
        right: 65px;
    }

    .mobile-btn-toggle {
        position: absolute;
        bottom: 15px;
        right: 20px;
    }

    .mobile-btn-toggle img {
        margin-left: 2px;
        transition: 200ms;
    }

    /*
    =============
       Nav Bar
    =============
    */
    .navigation-bar-body {
        position: absolute;
        bottom: 75px;
        right: 20px;
        height: 170px;
        width: 200px!important;
    }

    .navigation-header-container {
        display: none;
    }   

    .navigation-item {
        margin: 5px 0px;
    }

    .navigation-item img {
        height: 15px;
        width: auto;
    }
    
    .navigation-toggle-button img {
        width: 10px;
        height: auto;
    }
    
    .navigation-socials {
        display: none;
    }

    /* Other Tweaks */
    .main-flex-panel {
        width: 100%;
    }
    
    .main-page {
        width: 100%;
        margin-right: 0px;
    }

    .main-pane {
        height: 75%;
    }

    .pane-content {
        width: 95%;
        margin-left: 10px;
        margin-right: 10px;
    }

    .contact-panel {
        font-size: 0.75em;
    }

    .info-panel-header {
        flex-direction: column;
    }

    .info-panel-header img {
        margin: 0px auto;
        padding: 0px;
    }

    .main-header {
        text-align: center;
    }
}
