.nav-bar h1 {
  font-size: 2.4vw;
}
.nav-bar h2 {
  font-size: 1.7vw;
}
.nav-bar h3,.nav-bar p,.nav-bar li {
  font-size: 1vw;
}
/*
.nav-bar {
  position: fixed;
  top: 0;
  width: 22vw;
  height: 100%;
  background-color: #023670;
  color: white;
  text-align: left;
  -moz-box-shadow:    4px 3px 10px 1px #ccc;
  -webkit-box-shadow: 4px 3px 10px 1px #ccc;
  box-shadow:         4px 5px 10px 1px gray;
  transition: 0.5s;
} */

.nav-accent-header {
  position: relative;
  background-color: #032C59;
  text-align: left;
  transition: 0.5s;
}

.nav-accent-header:hover {
  background-color: #2781e5;
  cursor: pointer;
}

.nav-first-header {
  padding-top: 15px;
  font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
}

.nav-first-header h1, .nav-first-header h2, .nav-first-header h3 {
  margin: 0;
  padding-top: 5px;
}

.nav-first-header a {
  color: white;
}

.nav-header {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 30px;
  font-size: 1.2rem;
  font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
}

.nav-content {
  margin: 0;
  padding-left: 20px;
  font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
}
.nav-content p, .nav-content ul, .nav-content li, .nav-content h4 {
  margin: 0;
  padding: 5px;
}

.social-media-flex {
  display: flex;
}

.social-media-flex a {
  margin: 5px;
}

.nav-display-toggle {
  position: absolute;
  top: 100;
  right: 0;
  text-decoration: none;
  background-color: transparent;
  border: none;
  color: white;
  font-size: 2rem;
}

.nav-display-toggle:focus {
  outline: 0;
}

.nav-display-arrow-left {
  width: 30px;
}

.nav-display-arrow-left:hover {
  cursor: pointer;
}
